<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    
    <!-- Button to redirect to Users page -->
    <a href="/api/v1/users"> <!-- Update the route to /api/v1/users -->
        <button>View Users</button>
    </a>

    <!-- Button to redirect to Add User page -->
    <a href="/addUser">
        <button>Add User</button>
    </a>

    <a href="/login">
        <button>Login</button>
    </a>
</body>
</html>